div.form-box-container
  div.form-box
    div.form-group
      label(for="user") Email
      input.form-control(type="text" id="email" name="email" placeholder="email address")
    div.form-group
      label(for="title") Password
      input.form-control(type="text" id="password"  name="password" placeholder="password")
    button.btn.btn-primary(type="submit") #{button_text}
