extends ../layout

block content
  div.form-box-container
    div.alternative_action
      h1 SIGN UP
  form(action="/users" method="POST")
      include form.jade


  div.form-box-container
    div.alternative_action
      a(href="/")  Already have an account? Sign in
